body.anime {
    background-image: url("kepek/flower.jpg") ;
  }
body.miamanga {
    background-image: url("kepek/flower2.jpg") ;
  }
  body.keszül {
    background-image: url("kepek/flower3.webp") ;
  }
  body.hires {
    background-image: url("kepek/flower4.avif") ;
  }
  body.fajta {
    background-image: url("kepek/flower5.jpg") ;
  }

